// $white: #E5ECE6;
// $black: #000702;
// $dark-grey: #323933;
// $darker-grey: #212823;
// $link-color: #02ff3f;
// $text-color: #b4bbb6;

$accentColor = #1997c6
$textColor = #b4bbb6
$borderColor = transparent
