// $white: #E5ECE6;
// $black: #000702;
// $dark-grey: #323933;
// $darker-grey: #212823;
// $link-color: #02ff3f;
// $text-color: #b4bbb6;

body,
.navbar,
.sidebar,
.navbar .links,
.home .feature p,
.home .hero .description {
    background: #323933;
    color: #b4bbb6;
}

body {
    font-family: Rubik, sans-serif;
}

h1, h2, h3, h4, h5, h6,
.navbar .site-name {
    font-weight: 500 !important;
    color: rgba(255, 255, 255, 0.9) !important;
}

.nav-links a {
    color: rgba(255, 255, 255, 0.9) !important;
}

.navbar .site-name {
    white-space: nowrap;
}

.navbar .site-name::before {
    content: url(/isf-logo-small.svg);
}

.content img {
    display: block;
}

.search-box input {
    background: #b4bbb6 url(/search.svg) 0.6rem 0.5rem no-repeat;
    background-size: 1rem !important;
    color: #212823 !important;
}

.suggestions {
    background-color: #323933 !important;
    li:hover,
    li.focused {
        background-color: #212823 !important;
    }
}

#app .ds-dropdown-menu,
#app .ds-dropdown-menu * {
    background-color: #212823 !important;
    border: none;
}

.algolia-autocomplete .ds-dropdown-menu:before {
display: none;
}
.algolia-search-wrapper .algolia-autocomplete .algolia-docsearch-suggestion--highlight {
color: #1997c6;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before,
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
 display:none; 
}

#example {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    & > div,
    & > iframe {
        flex: 1;
    }
    & > div { /* the example code on the left */
        pre {
            margin-bottom: 0;
            line-height: 1.2;
            code {
                font-size: .75rem;
            }
        }
    }
    & > iframe { /* the iframe showing off the example code */
        width: 100%;
        min-height: 340px;
    }
}

